/* App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar styles */
.navbar {
  background-color: #f8f9fa;
  padding: 15px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.navbar-nav .nav-link {
  color: #343a40;
}

/* Search form styles */
.form-inline {
  margin-top: 10px;
}

.form-control {
  width: 300px;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
